In [1]:
import warnings as wn
wn.filterwarnings("ignore")

import pandas as pd
path=r"C:\Users\a_bot\Documents\GitHub\python-challenge\python-challenge\PyBank\Resources\budget_data.csv"
df=pd.read_csv(path)
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [3]:
df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [13]:
duplicates = df.duplicated()
print(df[duplicates])

Empty DataFrame
Columns: [Date, Profit/Losses]
Index: []

In [19]:
total_months = df['Date'].nunique()
print(f"Total number of months: {total_months}")

Total number of months: 86

1. PyBank Analysis

In [21]:
net_total = df['Profit/Losses'].sum()
df['Change'] = df['Profit/Losses'].diff()
average_change = df['Change'].mean()
greatest_increase_index = df['Change'].idxmax()  # Get the index of the row with the greatest increase
greatest_increase_date = df.loc[greatest_increase_index, 'Date']  # Get the corresponding date
greatest_increase_amount = df.loc[greatest_increase_index, 'Change']  # Get the corresponding change amount
greatest_decrease_index = df['Change'].idxmin()  # Get the index of the row with the greatest decrease
greatest_decrease_date = df.loc[greatest_decrease_index, 'Date']  # Get the corresponding date
greatest_decrease_amount = df.loc[greatest_decrease_index, 'Change']  # Get the corresponding change amount

print(f"Total number of months: {total_months}")
print(f"Net total amount of Profit/Losses: ${net_total}")
print(f"Average change in Profit/Losses: ${average_change:.2f}")
print(f"Greatest increase in profits: {greatest_increase_date} (${greatest_increase_amount:.2f})")
print(f"Greatest decrease in profits: {greatest_decrease_date} (${greatest_decrease_amount:.2f})")

Total number of months: 86
Net total amount of Profit/Losses: $22564198
Average change in Profit/Losses: $-8311.11
Greatest increase in profits: Aug-16 ($1862002.00)
Greatest decrease in profits: Feb-14 ($-1825558.00)

2. PyPoll Analysis

In [23]:
import pandas as pd
path=r"C:\Users\a_bot\Documents\GitHub\python-challenge\python-challenge\PyPoll\Resources\election_data.csv"
df=pd.read_csv(path)
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [25]:
df.isnull().sum()

Ballot ID    0
County       0
Candidate    0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369711 entries, 0 to 369710
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Ballot ID  369711 non-null  int64
 1   County     369711 non-null  object
 2   Candidate  369711 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.5+ MB

In [33]:
# Step 2: Calculate the total number of votes
total_ballots = df['Ballot ID'].nunique()  # Unique Ballot IDs give the total votes

# Step 3: Get a complete list of candidates who received votes
candidates = df['Candidate'].unique()

# Step 4: Calculate the total number of ballots each candidate won
ballot_counts = df['Candidate'].value_counts()

# Step 5: Calculate the percentage of ballots each candidate won
ballot_percentages = (ballot_counts / total_ballots) * 100

# Step 6: Determine the winner based on popular vote
winner = ballot_counts.idxmax()

# Step 7: Output the results
print("Election Results")
print("-------------------------")
print(f"Total Ballots: {total_ballots}")
print("-------------------------")
for candidate in ballot_counts.index:
    print(f"{candidate}: {ballot_percentages[candidate]:.3f}% ({ballot_counts[candidate]})")
print("-------------------------")
print(f"Winner: {winner}")
print("-------------------------")

Election Results
-------------------------
Total Ballots: 369711
-------------------------
Diana DeGette: 73.812% (272892)
Charles Casper Stockham: 23.049% (85213)
Raymon Anthony Doane: 3.139% (11606)
-------------------------
Winner: Diana DeGette
-------------------------